@charset "utf-8";
/* 회원가입 */
.joinform {
  padding: 300px 0;
}
.join {
  position: relative;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}
.joinform h1 {
  font-size: 4vw;
  text-align: center;
  margin-bottom: 50px;
}
.join h2 {
  font-size: 2vw;
  font-weight: 800;
  text-align: center;
  padding-top: 2%;
  line-height: 2;
}
.join h6 {
  font-size: 2vw;
  text-align: center;
}
.box1 {
  padding: 5%;
  width: 30%;
  height: 15%;
  border: none;
  background-color: #e7ecf1;
  border-radius: 30px;
}
.box1 a{
  color: #333;
}
.box2 {
  padding: 5%;
  width: 30%;
  height: 15%;
  border: none;
  background-color: #134aa9;
  border-radius: 30px;
  color: #fff;
}
.box2 a {
  color: #fff;
}
i {
  width: 100%;
  display: block;
  font-size: 3vw;
  margin: 0 auto;
}
/* 반응형 */
/* ========================================== */
@media screen and (max-width: 768px) {
  .joinform h1 {
    font-size: 7vw;
  }
  .box1 {
    padding: 4%;
    width: 40%;
    height: 30%;
    border: none;
    background-color: #e7ecf1;
    border-radius: 30px;
  }
  .box2 {
    padding: 4%;
    width: 40%;
    height: 30%;
    border: none;
    background-color: #134aa9;
    border-radius: 30px;
    color: #fff;
  }
   i {
    font-size: 5vw;
  }
   .join h2 {
    font-size: 3vw;
    font-weight: 800;
    text-align: center;
    line-height: 2;
  }
  .join h6 {
    font-size: 2.5vw;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .joinform h1 {
    font-size: 10vw;
  
  }
  .join {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
  }
  .box1 {
    padding: 5%;
    width: 80%;
    height: 50%;
    border: none;
    background-color: #e7ecf1;
    border-radius: 30px;
  }
  .box2 {
    padding: 5%;
    width: 80%;
    height: 50%;
    border: none;
    background-color: #134aa9;
    border-radius: 30px;
    color: #fff;
  }
  .join h2 {
    font-size: 6vi;
    font-weight: 800;
    text-align: center;
    line-height: 2;
  }
  .join h6 {
    font-size: 5vw;
    text-align: center;
  }
  i {
    width: 100%;
    display: block;
    font-size: 10vw;
    margin: 0 auto;
  }
  footer {
    width: 100%;
    height: 470px;
  }
}
