@charset "utf-8";
/* 지우기 */
/* 폰트 */
@font-face {
  font-family: "UhBeeSe_hyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KBO-Dia-Gothic_light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_light.woff") format("woff");
}
@font-face {
  font-family: "KBO-Dia-Gothic_medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_medium.woff") format("woff");
}
@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff") format("woff");
}
/* 공통 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  font-family: "KBO-Dia-Gothic_light", sans-serif;
  font-size: 16px;
  /* padding: 25px; */
  background-color: #ffff;
  color: #333;
  text-align: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* 기타
(컬러)
대표색
파랑 #134AA9
보조색
밝은 파랑 #1E6BF1
연한 하늘색 #F0F4FF
푸터색 #3333
*/

/* =======================================================승아 */
/* 헤더 */
header {
  position: fixed; /* 네비게이션 바가 항상 화면 상단에 고정될 수 있도록 */
  top: 0; /* 화면의 맨 위에 위치 */
  width: 100%; /* 전체 너비 차지 */
  height: auto;
  background-color: #fff; 
  /* background-color: red; */
  /* background-color: rgba(255, 255, 255, 0.7); */
  z-index: 99999999999; /* 네비게이션 바가 다른 요소 위에 올라가도록 z-index 설정 */
  box-shadow: -1px 2px 10px 4px rgba(0, 0, 0, 0.05); /* 네비게이션 바의 box-shadow 효과 */
}

/* 네비게이션 바 */
nav {
  max-width: 1400px;
  /* background-color: transparent;  */
  /* 투명 배경색으로 설정하여 header에서 배경색을 상속받도록 */
  padding: 30px;
  position: relative; /* 헤더와의 상대적 위치 설정 */
  display: block;
  margin: 0 auto;
}
.top-nav img {
  width: 180px;
  display: inline-block;
  position: absolute;
  left: 30px; /* 왼쪽 여백 추가 */
  top: 30%;
  margin: 20px;
  transform: translateY(-50%); /* 수직 중앙 정렬 */
}
/* 상단메뉴 */
.top-menu {
  display: flex;
  justify-content: center;
  color: #134aa9;
  gap: 4%;
}
.top-menu li a {
  font-family: "KBO-Dia-Gothic_medium";
  white-space: nowrap;
  color: #134aa9;
  font-size: 22px;
}
.top-menu li:hover a {
  background: linear-gradient(to top, #f0f4ff 100%, transparent 40%);
  transition: all 5s;
}
.top-menu li:nth-child(5) {
  margin-left: 8%;
}
/* 메뉴-log */
.log {
  font-family: "KBO-Dia-Gothic_light";
  font-size: 18px;
  display: flex;
  gap: 30px;
  position: absolute;
  right: 30px; /* 오른쪽 여백 추가 */
  top: 50%;
  transform: translateY(-50%); /* 수직 중앙 정렬 */
}
.log li a {
  font-family: "KBO-Dia-Gothic_light";
  /* color: red; */
  font-size: 18px;
}
.visual {
  position: relative;
}
.visual-img {
  width: 100%;
  height: auto;
  margin: 80px auto;
}

/* 모바일 비주얼이미지 */
.mb-visual-img {
  display: none;
}
/* 네비 호버 */
.top-menu > li {
  padding: 5px;
}
.top-menu > li:hover > a {
  /* background: linear-gradient(to top,#1e6bf1 40%, transparent 40%); */
  transition: all 3s;
  /* color: #1e6bf1; */
  background-color: #f0f4ff;
  /* text-decoration: underline; */
}

/*   모바일 로고 */
.logo-tablet,
.fa-solid {
  /* display: none; */
}
/* 모바일 메뉴 햄버거  */
.m-bt {
  display: none;
  position: absolute;
  top: 30px;
  bottom: 0;
  margin: auto;
  right: 30px;
  width: 28px;
  height: 15px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 99999;
}
.m-bt span {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #333;
}
/* 햄버거 눌렀을 때 색상 바뀜 */
.m-bt.active span {
  background-color: #134aa9;
}
/* 햄버거 아이콘 초기 상태 */
.m-bt span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  width: 28px; /* 세로 선의 너비 조절 */
  height: 3px; /* 세로 선의 높이 조절 */
  background-color: #333; /* 세로 선의 색상 설정 */
  transition: all 0.3s;
}

.m-bt span:nth-child(1) {
  transform: translateY(-6px) translateX(-50%); /* 첫 번째 세로 선 위치 조절 */
}

.m-bt span:nth-child(2) {
  transform: translateY(0px) translateX(-50%);
  /* 두 번째 세로 선은 초기에 그대로 중앙에 위치 */
  top: 50%;
  left: 50%;
}

.m-bt span:nth-child(3) {
  transform: translateY(6px) translateX(-50%); /* 세 번째 세로 선 위치 조절 */
}

/* 햄버거 아이콘 클릭 후 X 모양으로 전환 */
.m-bt.ani span:nth-child(1) {
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}

.m-bt.ani span:nth-child(2) {
  opacity: 0;
}

.m-bt.ani span:nth-child(3) {
  transform: translateY(-50%) translateX(-50%) rotate(-45deg);
}

/* 모바일 메뉴 로고이미지 */
.nav-mb img {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  /* margin: 0 auto; */
  width: 180px;
  padding: 20px;
}
/* 모바일 메뉴 리스트 */
.nav-mb {
  position: absolute;
  left: 100%;
  /* top: 20px; */
  width: 100%;
  height: calc(100vh - 30px);
  background-color: #fff;
  /* opacity: 1; */
  transition: all 0.3s;
  z-index: 9999;
}
.nav-mb.active {
  left: 0%;
  opacity: 1;
}
.nav-mb-gnb li:first-child {
  margin-top: 100px;
  border-top: 1px solid #d9d9d9;
}
.nav-mb-gnb li a {
  line-height: 60px;
  display: block;
  padding: 0 40px;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #333;
  border-bottom: 1px solid #d9d9d9;
}
.m-log {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.m-log a {
  color: #333;
  font-family: "KBO-Dia-Gothic_light", sans-serif;
  text-align: center;
  font-size: 16px;
  /* color: red; */
}

.m-log > li:hover a {
  color: #134aa9;
}
/* 햄버거 눌렀을 때 메뉴 호버 */
.nav-mb-gnb li:hover a {
  background-color: #f0f4ff;
}
.counter-wrapper {
  width: 100%;
  height: auto;
  background-color: #f0f4ff;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  gap: 20%;
  padding: 2.5%;
  position: absolute;
  bottom: 14%;
}
.counter {
  font-family: "KBO-Dia-Gothic_medium";
}
.count-title {
  font-size: 44px;
  font-weight: normal;
  text-align: center;
  display: inline;
  color: #1e6bf1;
}
.plus {
  font-size: 18px;
  display: inline;
}
.count-text {
  font-size: 20px;
  margin-top: 8%;
  white-space: nowrap;
}

/* <!-- 섹션1 --> */

.section1 {
  padding: 6% 0 4% 0;
  background-color: #fff;
  width: 100%;
  color: #fff;
  font-family: "KBO-Dia-Gothic_light";
  position: relative;
}
.sec1-inner {
  margin: 0 auto;
  /* background-color: rgb(235, 193, 200); */
  max-width: 1400px;
  position: relative;
}
.sec1-main-text{
  color:  #134aa9;
  /* position: absolute;
  top: -25%; */
  line-height: 1.5em;
  letter-spacing: 1px;
  display: block;
}
/* 문구 최종확인 후 삭제 */
/* .sec1-main-text h4{
  font-family: "KBO-Dia-Gothic_medium";
  font-size: 36px;
  text-align: center;
  letter-spacing: 1.5px;
  text-align: center;
  display: block;
 float: left;
}
.sec1-main-text p{
  font-size: 28px;
  float: left;
} */
.sec1-main-text h4{
  font-family: "KBO-Dia-Gothic_medium";
  font-size: 32px;
  letter-spacing: 1px;
  text-align: left;
  display: block;
  position: absolute;
  top: -20%;
  padding: 40px;
  color: #333;
  line-height: 1.3em;
}
.service-box {
  /* background-color: pink; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 6%;
  margin: 0 auto;
  padding: 6% 2% 0 2%;
}
.service-box figure {
  width: calc(100% / 3);
  /* background-color: red; */
  position: relative;
  overflow: hidden;
  margin: 10px;
  /* width: 100%; */
  color: #fff;
  text-align: left;
  line-height: 1.3em;
  /* font-size: 18px; */
}
.service-box figure img {
  width: 100%;
}
.sb-img-title1, .sb-img-title2{
  font-family: "KBO-Dia-Gothic_medium";
  font-size: 28px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
transform: translateX(-50%);
padding: 20px;
background-color: rgba(0, 0, 0, 0.2);
width: 100%;
display: block;
text-align: center;
}
.service figcaption {
  position: absolute;
  /* top: calc(77%); */
  /* top: calc(77%); */
  width: 100%;
  background-color: #134aa9;
  padding: 15px 25px 100px;
}
.service figcaption:before {
  position: absolute;
  content: "";
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  /* height: 60px; */
  /* background-image: -webkit-linear-gradient(top, transparent 0%,  #134aa9 100%); */
  /* background-image: linear-gradient(to bottom, transparent 0%,  #134aa9 100%); */
}
figcaption h3,
figcaption p {
  letter-spacing: 1px;
  /* margin: 0 0 8px; */
  /* color: red; */
}
.service h3 {
  font-size: 28px;
  line-height: 1.3em;
  font-family: "KBO-Dia-Gothic_medium";
  text-align: center;
}
.service p {
  letter-spacing: 0.5px;
  font-size: 18px;
  margin-top: 10px;
}
.service * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* 기본적으로 숨겨진 figcaption 요소 */
.service figcaption {
  top: 100%; /* 이미지 아래에 숨겨짐 */
  transition: top 0.5s ease; /* 부드러운 전환 효과 적용 */
}

/* 호버 상태일 때 figcaption 요소를 보이도록 설정 */
.service:hover figcaption {
  top: calc(100% - 20vh); /* 이미지 아래로 이동하여 나타남 */
}
.service3-text{
  position: absolute;
  top: 15%;
  left: 0;
  padding: 15px 25px 100px;
}
.service3-text span{
  font-size: 28px;
  line-height: 2em;
  font-family: "KBO-Dia-Gothic_medium";
}
.service3-text p{
  font-size: 18px;
  text-align: left;
}
/* ========================================================================== */
@media screen and (max-width: 1100px) {
  .sb-img-title1, .sb-img-title2{
    font-size: 24px;
  }
  .service-box {
    /* gap: 2%; */
    /* padding: 4% 0 0 0; */
    /* background-color: red; */
  }
  .service h3 {
    font-size: 24px;
  }
  .service p {
    font-size: 18px;
  }
  .service3-text span{
    font-size: 24px;
  }
  .service3-text p{
    font-size: 18px;
  }
}
@media screen and (max-width: 1000px) {
  header img {
    width: 150px;
  }
  nav {
    padding: 20px;
  }
  .visual-img {
    width: 90%;
  }
  .top-menu li a {
    font-size: 18px;
  }
  .top-menu li:nth-child(5) {
    /* margin-left: 8%; */
  }
  /* 메뉴-log */
  .log {
    font-size: 18px;
    /* gap: 30px;
  right: 5%; */
    padding: 5px;
  }
  .log li a {
    font-size: 16px;
  }
  .count-title {
    font-size: 36px;
  }
  .plus {
    font-size: 16px;
  }
  .count-text {
    font-size: 18px;
  }
  .sec1-main-text h4 {
    font-size: 28px;
    top: -100px;
  }
  .service-box {
    gap: 2%;
    /* padding: 8% 0 0 0; */
    /* background-color: red; */
  }
  .sb-img-title1, .sb-img-title2{
    font-size: 22px;
  }
  .service h3 {
    font-size: 22px;
  }
  .service p {
    font-size: 16px;
  }
  .service3-text{
    padding: 0;
text-align: center;
padding: 20px;
}
  .service3-text span{
    font-size: 22px;
  }
  .service3-text p{
    font-size: 16px;
  }
}
@media screen and (max-width: 900px) {
  .top-menu {
    gap: 2%;
  }
  .top-menu li a {
    font-size: 16px;
  }
  .top-menu li:nth-child(5) {
    /* margin-left: 2%; */
  }
  /* 메뉴-log */
  .log {
    font-size: 18px;
    gap: 20px;
    /* right: 5%; */
    /* padding: 5px; */
  }
  .log li a {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  header {
    top: 0; /* 화면의 맨 위에 위치 */
    height: 65px;
  }
  .m-bt {
    top: 0;
  }
  .top-nav ul {
    display: none;
  }
  .top-nav img {
    width: 130px;
    /* left: 30px;  */
    top: 35%;
    /* margin: 20px; */
  }
  /* 상단메뉴 박스 */
  nav {
    padding: 20px;
  }
  /* 상단메뉴 */
  .top-menu {
    gap: 6%;
    font-size: 16px;
  }
  .top-menu li:nth-child(5) {
    margin-left: 4%;
  }
  /* 메뉴-log */
  .log {
    font-size: 14px;
  }
  /* 모바일메뉴 */
  .m-bt {
    display: block;
  }
  /* 카운트 */
  .counter-wrapper {
    gap: 14%;
  }
  .count-title {
    font-size: 30px;
  }
  .plus {
    font-size: 14px;
  }
  .count-text {
    font-size: 16px;
  }
  /* 섹션1-서비스 */
  .nav-mb img {
    display: block;
  }
  .sec1-main-text h4 {
    font-size: 22px;
    top: -100px;
    padding: 20px;
  }
  .service3-text{
    top: 5%;
    padding: 15px 25px 100px;
  }
  .service-box {
    gap: 2%;
    padding: 2% 0 0 0;
  }
  .sb-img-title1, .sb-img-title2{
    font-size: 18px;
  }
  .service h3 {
    font-size: 18px;
  }
  .service p {
    font-size: 14px;
  }
  .service3-text span{
    font-size: 18px;
  }
  .service3-text p{
    font-size: 14px;
  }
}
/* ========================================================== */
@media screen and (max-width: 560px) {
  .top-nav img {
    width: 115px;
    left: 10px; 
  }
  .visual-img {
    display: none;
  }
  .counter-wrapper {
    bottom: 8%;
    /* background-color: red; */
  }
  .counter-wrapper {
    gap: 10%;
  }
  .count-title {
    font-size: 22px;
  }
  .plus {
    font-size: 12px;
  }
  .count-text {
    font-size: 14px;
  }
  /* 모바일 비주얼이미지 */
  .mb-visual-img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .sec1-main-text h4 {
    font-size: 16px;
    top: -40px;
  }
  .service-box {
    gap: 1%;
    padding: 1% 0 0 0;
  }
  .sb-img-title1, .sb-img-title2{
  padding: 10px;
  }
  .service h3 {
    font-size: 18px;
  }
  .service p {
    font-size: 12px;
  }
  .service3-text{
    /* position: absolute;
    top: 5%;
    left: 0;
    padding: 0 5% 0 5% ; */
  }
}
@media screen and (max-width: 450px) {
  .mb-visual-img{
    margin-top: 30px;
  }
  .counter-wrapper {      
   padding: 25px 0;
  }
  .counter-wrapper {
    bottom: 2%;
  }
 .counter {
     line-height: 20px;
 }
     .count-title {
         font-size: 24px;
     }
 .sec1-main-text h4 {
         font-size: 22px;
 }
 .section1 {
   padding: 12% 0 8%;
 }
 .sec1-main-text h4{
  font-size: 22px;
  top: -60%;
  padding: 20px;
}
.service3-text{
  top: 25%;
  left: 8px;
  padding: 0 5% 0 5% ;
}
h3 {
  display: none;
 }
 .service figcaption {
display: none;
 }
.service-box{
padding-top: 10px;
}
 .service3-text span{
font-size: 14px;
    }
 .service3-text p{
display: none;
 }
 .sb-img-title1, .sb-img-title2{
  font-size: 14px;
padding: 5px;
height:30px;
}
}
@media screen and (max-width: 420px) {
  .sec1-main-text h4{
    top: -70%;
    /* padding: 20px; */
  }
  .section1 {
    padding: 30% 0 20% 0;
  }
  .service:hover figcaption {
    top: 0
  }
}
@media screen and (max-width: 390px) {
  .count-title {
    font-size: 20px;
  }
  .plus {
    font-size: 10px;
  }
  .count-text {
    font-size: 13.5px;
  }
  .sec1-main-text h4{
    font-size: 22px;
    top: -40%;
    padding: 20px;
  }
  h3 {
    display: none;
   }
   .service figcaption {
display: none;
   }
.service-box{
  padding-top: 20px;
}
.service3-text{
  top: 25%;
  left: 8px;
  padding: 2px;
}
   .service3-text p{
  display: none;
   }
   .sb-img-title1, .sb-img-title2{
    font-size: 14px;
  padding: 5px;
  height:30px;
  }
}
@media screen and (max-width: 320px) {
  .sec1-main-text h4{
/* color: red; */
font-size: 20px;
    top: -25%;
    line-height: 1.3em;
    letter-spacing: 0;
 
  }
  .service-box{
    padding-top: 50px;
  }
  .sb-img-title1, .sb-img-title2{
    font-size: 12px;
  padding: 5px;
  }
   .service3-text span{
 font-size: 12px;
 /* padding:0.2px */
      }
      .service3-text{
        top: 20%;
        left: 3px;
        padding: 0;
      }
      .service3-text span{
        font-size: 12px;
        line-height: 2em;
        font-family: "KBO-Dia-Gothic_medium";
      }
      .service3-text p{
        font-size: 18px;
        text-align: left;
      }

}
